:root {

}

* {
    font-family: 'Arimo', sans-serif;
}

body {
    position: relative;
    margin: 50% 0 0 0;
    background-color: #272626;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(180deg, rgba(20,20,20,1) 60%, rgba(20,20,20,0) 100%);
}

.wrapper {
    display: flex;
    height: 100%;
    width: 60%;
    margin: 0 auto;
    perspective: 450px;
}

.scroll-text {
    position: relative;
    font-size: 4rem;
    line-height: 1.5em;
    font-weight: 700;
    text-align: justify;
    color: #ffc909;
    animation: scroll 30s linear infinite forwards;
}

h1, h2 {
    font-size: 80px;
    line-height: 1.5em;
    text-align: center;
}

@keyframes scroll {
    from {top: 0; transform: translateZ(0) rotateX(7deg)}
    to {top: -3000px; transform: translateZ(-300px) rotateX(9deg)}
}